# operation on list

#### Create a list

In [1]:
my_list = [ 20,40,60,80,100]
print("create List:",my_list)

create List: [20, 40, 60, 80, 100]

#### Insert elemt

In [2]:
my_list = [20,40,60,80,100]
my_list.insert( 2,120)
print( "After Insert:",my_list)

After Insert: [20, 40, 120, 60, 80, 100]

#### Append a element

In [3]:
my_list = [ 20,40,60,80]
my_list.append(100)
print("After Append :",my_list)

After Append : [20, 40, 60, 80, 100]

#### Reverse the list

In [4]:
my_list = [20,40,60,80,100]
my_list.reverse()
print("After Reverse:",my_list)

After Reverse: [100, 80, 60, 40, 20]

#### Remove element

In [5]:
my_list = [20,40,60,80]
my_list.remove(60)
print("After Remove:",my_list)

After Remove: [20, 40, 80]

# operation on tuple

#### Create

In [6]:
my_tuple = (99,88,77,66)
print("created Tuple:",my_tuple)

created Tuple: (99, 88, 77, 66)

#### Concatenate Tuples

In [7]:
new_tuple = my_tuple + (55,44)
print( " After Concatenation :",new_tuple)

 After Concatenation : (99, 88, 77, 66, 55, 44)

#### Access an element

In [8]:
Birds = ("peacock","pegion","sparrow","parrot")
print("second Element:",Birds[1])

second Element: pegion

#### Repeat the tuple

In [9]:
repeat_birds = Birds * 2
print("After Repetition:",repeat_birds)

After Repetition: ('peacock', 'pegion', 'sparrow', 'parrot', 'peacock', 'pegion', 'sparrow', 'parrot')

#### Slicing a Tuple

In [10]:
animals = ("panda", "bear", "zebra", "dear", "elephant", "kangaroo")
print("Sliced Tuple:",animals[1:4])

Sliced Tuple: ('bear', 'zebra', 'dear')

#### Count an Element

In [11]:
vegetables = ("carrot", "brinjal", "carrot", "tomato", "potato")
print("Count of 'carrot':", vegetables.count("carrot"))

Count of 'carrot': 2

#### Find Index of an Element

In [12]:
letters = ("h", "a", "r", "i", "n", "i")
print("Index of 'i':", letters.index("i"))

Index of 'i': 3

# Operation on dictionary

#### Create a dictionary

In [13]:
my_dict = { "register no ": 1240120121051,"name": "Aslam"}
print("Created Dictionary :",my_dict)

Created Dictionary : {'register no ': 1240120121051, 'name': 'Aslam'}

#### Get all keys

In [14]:
print("All keys :",my_dict)

All keys : {'register no ': 1240120121051, 'name': 'Aslam'}

#### Add a key value pair

In [15]:
my_dict["semester"] = 4
print("After Adding :",my_dict)

After Adding : {'register no ': 1240120121051, 'name': 'Aslam', 'semester': 4}

# Operation

#### Create a set

In [16]:
animal = {"lion", "tiger", "deer"}
print("Set:",animal)

Set: {'tiger', 'lion', 'deer'}

#### Union of two sets

In [17]:
set1 = {"lion", "tiger", "deer", "zebra"}
set2 = {"giraffe", "dog"}
result = set1.union(set2)
print("Union:",result)

Union: {'lion', 'giraffe', 'deer', 'tiger', 'dog', 'zebra'}

#### Remove an element

In [18]:
colours = {"violet", "red", "pink"}
colours.remove("red")
print("After Remove:",colours)

After Remove: {'pink', 'violet'}

#### Add an element

In [19]:
num = {10, 20, 30}
num.add(40)
print("After Add:",num)

After Add: {40, 10, 20, 30}

#### Intersection of two sets

In [20]:
set1 = {2, 4, 6, 8}
set2 = {10, 12, 14, 6}
result = set1.intersection(set2)
print("Intersection:",result)

Intersection: {6}